/* Correct default styles*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background-color: black;
    overflow: hidden;
}

/* Start of Navigation Bar*/
.navigationBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas:
    "navAbout navMenu navReservation navLogo navNews navGallery navContact";
    justify-items: center;
    align-items: center;
    padding: 0 4rem;
    background: black;
}
.navAbout {
    grid-area: navAbout;
//background: red;
}
.navMenu {
    grid-area: navMenu;
//background: blue;
}
.navReservation {
    grid-area: navReservation;
//background: purple;
}
.navLogo {
    grid-area: navLogo;
//background: yellow;
    font-size: 2.5rem;
    text-decoration: underline;
}
.navNews {
    grid-area: navNews;
//background: green;
}
.navGallery {
    grid-area: navGallery;
//background: orange;
}
.navContact {
    grid-area: navContact;
//background: red;
}

/* End of Navigation Bar*/
/* Start of Menu ITEM*/
.selectedMenuItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 200px;
    grid-template-areas:
    "menuImg menuLayout"
    "menuImg buttons";
    align-items: center;
    justify-items: center;
    padding-top: 8rem;
}
.menuImg {
    grid-area: menuImg;
    background-image: url("assets/orderedBurger.jpg");
    height: 100%;
    width: 100%;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.menuLayout {
    grid-area: menuLayout;
    padding: 2rem 6rem 2rem 2rem;
    line-height: 1.6rem;
    font-size: 15px;
}
.buttons {
    grid-area: buttons;
    position: absolute;
    top:70% ;
    left: 52%;
}
#messageContainer {
    color: green;
    font-size: 20px;
    visibility: hidden;
    padding: 2rem;
    border-top: 2px solid #259cbd;
    border-bottom: 2px solid #259cbd;
}
#orderButton {
    padding: 1rem 3rem;
    width: 263px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    border-left: 0;
    border-right: 0;
    transition: 0.5s;
}
#orderButton:hover {
    padding: 1rem 3rem;
    background-color: rgb(229, 62, 62);
    transition: 0.2s;
    border-left: 5px solid #1fb9f6;
    border-right: 5px solid #1fb9f6;
    border-top: 0;
    border-bottom:0;
    font-size: 20px;
}
#nextBtn {
    padding: 1rem 3rem;
    width: 263px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    border-left: 0;
    border-right: 0;
    transition: 0.5s;
}
#nextBtn:hover {
    padding: 1rem 3rem;
    background-color: rgb(229, 62, 62);
    transition: 0.2s;
    border-left: 5px solid #1fb9f6;
    border-right: 5px solid #1fb9f6;
    border-top: 0;
    border-bottom:0;
    font-size: 20px;
}




/* FOOTER */
footer {
    position: relative;
    top: 10%;
    left: 35%;
    height: 3rem;

    padding: 3rem;
    letter-spacing: 0.2rem;

}